{% extends "base.html" %}

{% block content %}
<div class="flex-item">
    <div>
        <h3 class="title">
            {{ question.question_title }}
            <a id="toggle-favorite" data-question-id="{{ question.pk }}" class="link" href="#">
            {% if is_favorite_question == True %}
                &#9733
            {% else %}
                &#9734
            {% endif %}
            </a>
        </h3>
        <h4 class="text">Number of favorites: {{ question.num_favorites }}</h4>
        <p class="text">{{ question.question_of }}</p>
        <p class="text">{{ question.question_body }}</p>
        <p class="text">{{ question.date_added }}</p>
    </div>
    <p>
        {% if request.user.is_authenticated and request.user == question.question_of %}
            <a class="link" href="{% url 'delete_question' question_pk=question.pk %}">Delete</a>
        {% else %}
            <button id="add-answer-button">Add an Answer!</button>
            <!--
            <a class="link" href="{% url 'add_answer' question_pk=question.pk %}">Add an Answer</a> 
            -->
            <div id="answer-form" class="hidden">
                <form action="{% url 'add_answer' question_pk=question.pk %}" method="POST">
                    {% csrf_token %}
                    {{ AnswerForm.as_p }}
                    <div>
                        <button type="submit"> Sumbit Your Answer!</button>
                    </div>
                </form>
            </div>
        {% endif %}
    </p>
    <p>
        <h2 class="title">Answers</h2><br>
        {% for answer in answers %}
    <div class="flex-item">
        <h3 
            class="title">{{ answer.answer_of }}

        </h3>
        <p class="text">{{ answer.answer_body }}</p>
        <p class="text">{{ answer.date_added }}</p> 
        <p>
            <!--{% if request.user == question.question_of %}
            <a class="link" href="{% url 'delete_answer' answer_pk=answer.pk %}">Delete Answer</a>
            {% endif %}-->
        </p>
    </div>
    {% endfor %}
    </p>
</div>


<script>
    const toggleFavoriteLink = document.querySelector("#toggle-favorite")
toggleFavoriteLink.addEventListener("click", function (e) {
    e.preventDefault()
    const questionId = toggleFavoriteLink.dataset.questionId
    fetch(`/questions/${questionId}/favorite_question/`, {
        method: "POST"
    })
    .then(res => res.json())
    .then(data => {
        if (data.favorite_question) {
            toggleFavoriteLink.innerHTML = '&#9733;'
        } else {
            toggleFavoriteLink.innerHTML = '&#9734;'
        }
    })
})
</script>

{% endblock %}