{% extends "base.html" %}

{% block content %}
<h2>Login</h2>

{% if retry %}
<p id="invalid_login">Invalid Username or Password</p>
{% endif %}

<p>
<form method="POST">
    {% csrf_token %}
    <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </p>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
</p>
<p><a href="{% url 'create_user' %}">Click here to make an account</a></p>
{% endblock %}