{% extends "base.html" %}

{% block content %}
<div class="flex-item">
    <h2 class="title">Login</h2>

{% if retry %}
<p id="invalid-login">Invalid Username or Password</p>
{% endif %}
</div>
<p>
<form class="flex-item" method="POST">
    {% csrf_token %}
    <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </p>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
</p>
<p><a class="link" href="{% url 'create_user' %}">Click here to make an account</a></p>
{% endblock %}